* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.canvas {
    border: 1px solid black;
    background-color: white;
}
.btn_start {
    width: 170px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}